<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Travel App</title>
</head>
<body>
    <div id="page_container">
        <nav>Travel App</nav>
        <div id="container">
            <main>
                <section id="planner">
                    <p>Plan Your Next Adventure</p>
                    <form>
                        <label for="destination">Destination:</label><br>
                        <input type="text" id="city" placeholder="Enter city name"><br>
                        <input type="text" id="country" placeholder="Country code (ex: US/UK/MX)"><br>
                        <label for="date">Departure Date:</label><br>
                        <input type="text" id="departureDate" placeholder="mm/dd/yyyy" value=""><br>
                        <label for="date">Return Date:</label><br>
                        <input type="text" id="returnDate" placeholder="mm/dd/yyyy" value=""><br>
                        <input type="submit" id="submit" value="Submit"> 
                    </form>
                </section>
                <section id="results">
                    <div id="whereTo"></div>
                    <div id="image"></div>
                    <div id="duration"></div>
                    <div id="weather"></div>
                    <div id="daysLeft"></div>
                </section>
            </main>
        </div>
        <div id="footer">&copy Benjamin Hossain 2020</div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>