<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <nav>Travel App</nav>
    <main>
        <section id="planner">
            <p>Plan Your Next Adventure</p>
            <form>
                <label for="destination">Destination:</label><br>
                <input type="text" id="city" placeholder="Enter city name"><br>
                <input type="text" id="country" placeholder="Country code (ex: US/UK/MX)"><br><br>
                <label for="date">Departure Date:</label><br>
                <input type="text" id="departureDate" placeholder="mm/dd/yyyy" value=""><br><br>
                <input type="submit" id="submit" value="Submit"> 
            </form>
        </section>
        <section id="results">
            <div id="whereTo"></div>
            <div id="image"></div>
            <div id="weather"></div>
            <div id="daysLeft"></div>
        </section>
    </main>
</body>
</html>